@use "../variables/colors";

html {
  font-family: 'Red Hat Display', sans-serif;
}

.container {
  background-color: colors.$first-color;
  width: 375px;
}

img {
  border-radius: 30px 30px 0px 0px;
  width: 375px;
}

h1 {
  font-weight: bold;

}

p {
  font-size: 18px;
  color: colors.$fourth-color;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card--plan-anual {
  background-color: colors.$fifth-color;
  border-radius: 16px;
  height: 80px;
  margin: 30px;
  display: flex;
  justify-content: space-around;
  background-image: url(/images/music-solid.svg);
  background-repeat: no-repeat;
  padding-left: 40px;
  background-size: 30px;
  background-position-y: center;
  background-position-x: 18px;

  .anual-plan {
    font-size: 14px;
    font-weight: bold;
  }

  .price-plan {
    font-size: 14px;
    color: colors.$fourth-color;
  }

  .enlace {
    align-self: center;
  }

  .link--changes {
    font-size: 14px;
    display: flex;
  }
}

.button--payment {
  border-radius: 10px;
  height: 50px;
  width: 300px;
  background-color: #263CCF;
  margin: 30px;
  color: colors.$first-color;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 14px;
}
